<div class="page-sidebar" id="sidebar">
	<!-- 侧边栏头部 -->
	<div class="sidebar-header-wrapper">
	    <input class="searchinput" type="text">
	    <i class="searchicon fa fa-search"></i>
	    <div class="searchhelper"></div>
	</div>
	<!-- /侧边栏头部 -->
	<!-- 侧边栏菜单 -->
	<ul class="nav sidebar-menu">
	    <li>
            <a href="{:url('Checkcode/lst')}">
                <i class="menu-icon fa fa-list"></i>
                <span class="menu-text">兑换码列表</span>
            </a>                           
        </li>
        <li>
            <a href="{:url('Checkcode/add')}">
            	<i class="menu-icon fa fa-plus"></i>
                <span class="menu-text">兑换码添加</span>
            </a>
        </li>
        <li>
            <a href="{:url('Checkcode/check')}">
            	<i class="menu-icon fa fa-search"></i>
                <span class="menu-text">兑换码查询  </span>
            </a>
        </li>
        <li>
            <a href="{:url('Excel/excel')}">
            	<i class="menu-icon fa fa-search"></i>
                <span class="menu-text">导入Excel</span>
            </a>
        </li> 
	</ul>
	<!-- /侧边栏菜单 -->
</div>