<div class="navbar">
    <div class="navbar-inner">
        <div class="navbar-container">
            <!-- LOGO -->
            <div class="navbar-header pull-left">
                <a href="#" class="navbar-brand">
                    <small><img src="__static__/images/logo.png" alt=""></small>
                </a>
            </div>
            <!-- /LOGO -->
            <!-- 侧边栏收放键 -->
            <div class="sidebar-collapse" id="sidebar-collapse">
                <i class="collapse-icon fa fa-bars"></i>
            </div>
            <!-- /侧边栏收放键 -->
            <!-- 账户和设置 -->
            <div class="navbar-header pull-right">
                <div class="navbar-account">
                    <ul class="account-area">
                        <li>
                            <a class="login-area dropdown-toggle" data-toggle="dropdown">
                                <!--<div class="avatar" title="View your public profile">
                                    <img src="__static__/images/adam.jpg">
                                </div>-->
                                <section>
                                    <h2><span class="profile"><span>管理员</span></span></h2>
                                </section>
                            </a>
                            <!--登录区下拉菜单-->
                            <ul class="pull-right dropdown-menu dropdown-arrow dropdown-login-area">
                                <li class="username"><a>David Stevenson</a></li>
                                <li class="dropdown-footer">
                                    <a href="/admin/user/logout.html">退出登录</a>
                                </li>
                                <li class="dropdown-footer">
                                    <a href="/admin/user/changePwd.html">修改密码</a>
                                </li>
                            </ul>
                            <!--/登录区下拉菜单-->
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /账户和设置 -->
        </div>
    </div>
</div>